* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"League Spartan";
}



body {
  width:79.687rem;
  height:41.187rem;
  background:hsl(0, 0%, 100%);
  margin-top:7.375rem;
  margin-left:10.313rem;
  display:grid;
  background-image: url("https://assets.codepen.io/11868974/bg-pattern-top-desktop.svg");
  background-repeat:no-repeat;
  background-size:70%;
}


.h1 {
  height:9.376rem;
  width:21rem;
  border:none;
 
}

h1 {
  font-size:52px;
  color:hsl(300, 43%, 22%);
}

.we {
  font-size:18.5px;
  color:hsl(303, 10%, 53%);
  font-weight:500;
  line-height:25px;
  position:relative;
  top:20px;
  border:none;
  width:440px;
  height:65px;
}

p {
  font-size:15px;
}


img {
  height:42px;
  width:42px;
  border-radius:45px;
}

.images-1 {
  display:inline-flex;
  flex-direction:column;
  width:21.875rem;
  height:14.688rem;
  background:hsl(300, 43%, 22%);
  color:white;
  border-radius:10px;
  position:relative;
  top:-75px;
}

.images-2 {
  display:inline-flex;
  flex-direction:column;
  width:21.875rem;
  height:14.688rem;
  background:hsl(300, 43%, 22%);
  color:white;
  border-radius:10px;
  position:relative;
  left:380px;
  top:-295px;
  
}

.images-3 {
  display:inline-flex;
  flex-direction:column;
  width:21.875rem;
  height:14.688rem;
  background:hsl(300, 43%, 22%);
  color:white;
  border-radius:10px;
  position:relative;
  left:760px;
  top:-515px;
}

 .portrait{
  position:relative;
  left:30px;
  top:40px;
}

.top {
  display:flex;
  flex-direction:column;
  position:relative;
  left:100px;
  top:3px;
  border:none;
}

.pink {
  position:relative;
  top:5px;
  color:hsl(333, 80%, 67%);
}

  .star-1 {
    align-items:center;
    display:inline-flex;
    width:27.813rem;
    height:3.438rem;
    background:rgb(247,242,248);
    color:hsl(300, 43%, 22%);
    font-weight:700;
    position:relative;
    left:35.625rem;
    top:-12.563rem;
    border:none;
    
  }

.star-2 {
    align-items:center;
    display:inline-flex;
    width:27.813rem;
    height:3.438rem;
    background:rgb(247,242,248);
    color:hsl(300, 43%, 22%);
    font-weight:700;
    position:relative;
    left:620px;
    top:-185px;
    border:none;
   
  }

.star-3 {
    align-items:center;
    display:inline-flex;
    width:27.813rem;
    height:3.438rem;
    background:rgb(247,242,248);
    color:hsl(300, 43%, 22%);
    font-weight:700;
    position:relative;
    left:665px;
    top:-170px;
    border:none;
    
  }

.stars {
  width:0.938rem;
  height:0.938rem;
  position:relative;
  left:35px;
  margin:5px;
}

.rated {
  position:relative;
  left:50px;
}

.only {
  width:26.25rem;
  height:4.875rem;
  background:white;
  align-items:center;
}

div {
  border-radius:10px;
}



.text {
  display:flex;
  width:17.8rem;
  align-items:center;
  justify-content:center;
  line-height:22px;
  position:relative;
  top:20px;
  left:30px;
  font-size:16.4px;
}


.text-2 {
  display:flex;
  width:17rem;
  align-items:center;
  justify-content:center;
  line-height:22px;
  position:relative;
  top:20px;
  left:30px;
  font-size:16.4px;
}
